extends layout

block content
  div.container
    header
      h1=title
    section(ng-app="nlApp")
      div.contenedorinfo
        div.info(ng-controller='tableCtrl')
          form#fileForm(role="form", ng-submit="processForm()"
          enctype="multipart/form-data", class="form-inline")
            p
              label Seleccionar archivo
            p
              input(type="file", name="file", id="fileUploadInput" file-model="myFile")
            p
              label
                input(type='submit', class="btn btn-default", value='Submit', 
                data-transition='fade', data-theme='c')

          #progressCont.progress(ng-if="progress>0")
            #progressBar.progress-bar.progress-bar-success(role="progressbar" 
            aria-valuenow="{{progressString}}" aria-valuemin="0" 
            aria-valuemax="100" style="width:{{progressString}}")
          #flash(ng-if="flash")
            p(class="{{flash.classes}}") {{flash.text}}
          #test
            input.form-control(type="text" ng-model="search.$" placeholder="Buscar")
            table.table(ng-if="tableData.length>0")
              thead
                tr
                  th Email
                  th Status
              tbody
                tr(ng-repeat="td in tableData|filter:search")
                  td {{td.email}}
                  td {{td.status}}

  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
  script(src="js/main.js")
